In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Предобработка данных и разделение на тренировочный/тестовый датасеты

In [10]:
df = pd.read_csv('meatinfo.csv', delimiter=';')
df

                                                    text     mtype
0                 12 частей баранина  12 частей баранина  Баранина
1                Баранина, 12 частей, зам. цена 260 руб.  Баранина
2                Баранина, 12 частей, зам. цена 315 руб.  Баранина
3                              Баранина, 12 частей, охл.  Баранина
4                Баранина, 12 частей, охл. цена 220 руб.  Баранина
...                                                  ...       ...
17888                                  Ягнятина, шея, бк  Ягнятина
17889  Язык ягненка (н.зеландия) Отварные языки ягнят...  Ягнятина
17890               Ягнятина, язык, зачищ. цена 100 руб.  Ягнятина
17891        Як, задние части, 1 категория цена 550 руб.        Як
17892                Як, туши, 1 категория цена 150 руб.        Як

[17893 rows x 2 columns]

Согласно заданию, в датасете остаются только те классы, для которых существует не менее 500 примеров

In [11]:
value_counts = df['mtype'].value_counts()
frequent_values = value_counts[value_counts > 500].index
df = df.loc[df['mtype'].isin(frequent_values)]

df

Разделение данных и запись их в файл

In [ ]:
train_df, test_df = train_test_split(df, train_size=0.8)
train_df.reset_index(inplace=True)
test_df.reset_index(inplace=True)

In [12]:
train_df.to_csv("train.csv", sep=';')
test_df.to_csv("test.csv", sep=';')